@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    text-decoration: none;
}

body {
    font-family: Montserrat, BlinkMacSystemFont, Roboto, Arial, sans-serif;
}

.section-title {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .section-title {
        font-size: 28px;
    }
}

/* header section  */

#header {
    background: url("../img/header-bg.jpg") center/cover no-repeat;
    min-height: 80vh;
    height: 80vh;
}

#header .navbar-list {
    font-family: Montserrat, BlinkMacSystemFont, Roboto, Arial, sans-serif;
}

#header #page-navbar {
    padding: 24px 0;
    font-size: 14px;
    transition: all .3s ease;
}

#header #page-navbar.navbar-shrink {
    background: #212529;
    padding: 6px 0;
}


#header #page-navbar.navbar-shrink .navbar-brand {
    font-size: 20px;
}

#header .navbar-brand {
    color: #fed136;
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    transition: all .3s ease;
}

#header .nav-item .nav-link {
    color: white;
}

#header .nav-item .nav-link:hover {
    color: #fed136;
}

#header .nav-item.active .nav-link {
    font-weight: bold;
}

#header .banner-name {
    font-family: 'Droid Serif', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 34px;
}

#header .banner-title {
    font-family: 'Droid Serif', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 76px;
}

#header .banner-button {
    background: #fed136;
    transition: all .3s linear;
}

#header .banner-button:hover {
    background: #fec810;
}

@media screen and (max-width: 991px) {
    #header #page-navbar {
        background: #212529;
        padding: 6px 0;
    }

    #header .custom-toggler {
        background: #fed136;
        outline: none;
    }

    #header .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #header #page-navbar .navbar-brand {
        font-size: 18px;
    }

    #header .banner-title {
        font-size: 56px;
    }
}

@media screen and (max-width: 576px) {
    #header .banner-title {
        font-size: 42px;
    }
}

/* end of header section */
/* abut me */

#about-me .about-title {
    font-family: Montserrat, BlinkMacSystemFont, Roboto, Arial, sans-serif;
}

/* skills */

#skills .skills-slider img {
    max-width: 72px;
    max-height: 72px;
}

#skills .skills-slider .slick-slide.slick-active {
    outline: none;
}

.slick-prev:before,
.slick-next:before {
    color: #2b2b2b;
}

.slick-dots {
    bottom: auto;
}

/* projects */

#projects #filter li {
    border-top: 1px solid #fec810;
    border-bottom: 1px solid #fec810;
    padding: 8px 6px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

#projects #filter li.active {
    background: #fec810;
}

#projects #filter li.active .filter-link {
    color: #fff;
    ;
}

#projects #filter li:hover {
    background: #fec810;
}

#projects #filter .filter-link {
    color: #fec810;
    transition: all .3s ease;
    pointer-events: none;
}

#projects #filter li:hover .filter-link {
    color: #fff;
}

#projects #project-list .project-list-item {
    margin-bottom: 26px;
}

#projects #project-list .contenner {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
}

#projects #project-list .contenner img {
    transition: all .3s ease;
}

#projects #project-list .contenner:hover img {
    transform: scale(1.1);
}

#projects #project-list .contenner:hover .overlay {
    top: 0;
}

#projects #project-list .overlay {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .3s ease;
    padding: 0 20px;
}

#projects #project-list .overlay p {
    max-width: 100%;
}

#projects #project-list .project-title {
    margin-top: -16px;
}

#projects #project-list .project-description {}

@media screen and (max-width: 767px) {
    #projects #project-list .project-list-item {
        max-width: 350px;
    }
}

#contact {
    background: url('../img/contact-bg.jpg');
}

#contact #submit {
    background: #fed136;
    transition: all .3s linear;
}

#contact #submit:hover {
    background: #fec810;
}

#contact #message {
    resize: none;
    height: 224px;
}


#footer {
    border-top: 1px solid #3a3a3a;
    background: #2b2b2b;
}

#footer .copyright {
    font-size: 10px;
}